body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-inline {
    display: inline-block;
}

.card {
    box-shadow: 0 0 3px 3px blueviolet;
}

textarea {
    resize: both;
    max-width: 300px;
    max-height: 200px;
}

.button-corner {
    position: absolute;
    right: var(--bs-card-spacer-x);
    bottom: var(--bs-card-spacer-y);


}